{% extends 'layout3.html' %}
 
{% block content %}
<style>
	.container {
	    position: relative;
	}
	.main {
	    height: 250px;
	    margin: 0 400px;
	}
	.left {
	    position: absolute;
	    width: 300px;
	    height: 250px;
	    left: 0;
	    top: 0;
	}
	.right {
	    position: absolute;
	    width: 300px;
	    height: 250px;
            right: 0;
	    top: 0;
	}
</style>

<div class="container">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        {{queryset.0.sch_name}}
    </div>
    <div class="container">
        <div class="left">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Pool A</th>
                        <th>胜-负</th>
                        <th>净胜分</th>
                    </tr>
                </thead>
                <tbody>
                {% for obj in queryset3 %}
                {% if obj.pool_id == 1 %}
                    <tr>
                        <td><a href="/team/{{obj.homeid}}/roster">{{obj.team}}</a></td>
                        <td>{{obj.result}}</td>
                        <td>{{obj.score_d}}</td>
                    </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="main">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Pool B</th>
                        <th>胜-负</th>
                        <th>净胜分</th>
                    </tr>
                </thead>
                <tbody>
                {% for obj in queryset3 %}
                {% if obj.pool_id == 2 %}
                    <tr>
                        <td><a href="/team/{{obj.homeid}}/roster">{{obj.team}}</a></td>
                        <td>{{obj.result}}</td>
                        <td>{{obj.score_d}}</td>
                    </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="right">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Pool C</th>
                        <th>胜-负</th>
                        <th>净胜分</th>
                    </tr>
                </thead>
                <tbody>
                {% for obj in queryset3 %}
                {% if obj.pool_id == 3 %}
                    <tr>
                        <td><a href="/team/{{obj.homeid}}/roster">{{obj.team}}</a></td>
                        <td>{{obj.result}}</td>
                        <td>{{obj.score_d}}</td>
                    </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>比赛编号</th>
                <th>时间&场地</th>
                <th>主队</th>
                <th>主分</th>
                <th>客分</th>
                <th>客队</th>
            </tr>
        </thead>
        <tbody>
        {% for obj in queryset %}
            <tr>
                <td>{{ obj.game_name}}</td>
                <td>{{ obj.game_info}}</td>
                <td><a href="/team/{{obj.homeid}}/roster">{{ obj.home}}</a></td>
                <td>{{ obj.home_s}}</td>
                <td>{{ obj.away_s}}</td>
                <td><a href="/team/{{obj.awayid}}/roster">{{ obj.away}}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}